#### **Data exploratory**
In this step we import the dataset, and perform some data manipulation in order to get familiar with the data at hand.

In [2]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

data_transformed = pd.read_csv('Covid-19 impacts on global economy/dataset/transformed_data.csv')
data_raw = pd.read_csv('Covid-19 impacts on global economy/dataset/raw_data.csv')

In [3]:
data_transformed.head()

  CODE      COUNTRY        DATE    HDI   TC   TD  STI        POP    GDPCAP
0  AFG  Afghanistan  2019-12-31  0.498  0.0  0.0  0.0  17.477233  7.497754
1  AFG  Afghanistan  2020-01-01  0.498  0.0  0.0  0.0  17.477233  7.497754
2  AFG  Afghanistan  2020-01-02  0.498  0.0  0.0  0.0  17.477233  7.497754
3  AFG  Afghanistan  2020-01-03  0.498  0.0  0.0  0.0  17.477233  7.497754
4  AFG  Afghanistan  2020-01-04  0.498  0.0  0.0  0.0  17.477233  7.497754

In [4]:
data_raw.head()

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,AFG,Afghanistan,2019-12-31,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
1,AFG,Afghanistan,2020-01-01,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
2,AFG,Afghanistan,2020-01-02,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
3,AFG,Afghanistan,2020-01-03,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
4,AFG,Afghanistan,2020-01-04,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494

As presented above, we have two datasets,the `raw dataset` and the `transformed one`. We can see that the raw dataset contains more more columns and usefuls ones, thus we are going to combine both datasets.

In [13]:
# We can get the value
data_transformed['COUNTRY'].value_counts().mode()

0    294
dtype: int64

In [23]:
country_code = data_transformed['CODE'].unique().tolist()
country = data_transformed['COUNTRY'].unique().tolist()
population =  data_transformed['POP'].unique().tolist()
# population = []
date = data_transformed['DATE'].unique().tolist()
hdi = []
tc = []
sti = []
gpd = []

for element in country:
    hdi.append((data_transformed.loc[data_transformed['COUNTRY'] == element, 'HDI']).sum()/294)
    tc.append((data_transformed.loc[data_transformed['COUNTRY'] == element, 'TC']).sum())
    # td.append((data_transformed.loc[data_transformed['COUNTRY']== element, 'TD']).sum())
    sti.append((data_transformed.loc[data_transformed['COUNTRY']== element, 'STI']).sum()/294)
    population.append((data_transformed.loc[data_transformed['COUNTRY'] == element, 'POP']).sum())

combined_data = pd.DataFrame(list(zip(country_code, country, hdi, tc, sti, population)), columns=
                                ["Country Code", "Country", "HDI", 
                                "Total Cases", 
                                "Stringency Index", "Population"])

combined_data.head()

,Country Code,Country,HDI,Total Cases,Stringency Index,Population
0,AFG,Afghanistan,0.498000,2000.646094,3.049673,17.477233
1,ALB,Albania,0.600765,1702.240756,3.005624,14.872537
2,DZA,Algeria,0.754000,2052.510847,3.195168,17.596309
3,AND,Andorra,0.659551,1465.828250,2.677654,11.254996
4,AGO,Angola,0.418952,1203.978763,2.965560,17.307957