In [1]:
import pandas as pd

In [2]:
data_movies = pd.read_csv("B:\_GITHUB\Data-Science-Projects\Movie rating analysis\dataset\movies.dat", delimiter='::')
print(data_movies.head())

c:\Users\arman\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

   0000008      Edison Kinetoscopic Record of a Sneeze (1894)  \
0       10                La sortie des usines Lumière (1895)
1       12                      The Arrival of a Train (1896)
2       25  The Oxford and Cambridge University Boat Race ...
3       91                         Le manoir du diable (1896)
4      131                           Une nuit terrible (1896)

     Documentary|Short
0    Documentary|Short
1    Documentary|Short
2                  NaN
3         Short|Horror
4  Short|Comedy|Horror

In [3]:
data_movies.columns = ["Id", "Title", "Genre"]
print(data_movies.head())

    Id                                              Title                Genre
0   10                La sortie des usines Lumière (1895)    Documentary|Short
1   12                      The Arrival of a Train (1896)    Documentary|Short
2   25  The Oxford and Cambridge University Boat Race ...                  NaN
3   91                         Le manoir du diable (1896)         Short|Horror
4  131                           Une nuit terrible (1896)  Short|Comedy|Horror

In [4]:
data_movies.isnull().sum()

Id        0
Title     0
Genre    71
dtype: int64

In [10]:
# checking the movies without gender
data_movies_nan = data_movies[data_movies["Genre"].isnull() == True] 
data_movies_nan

             Id                                              Title Genre
2            25  The Oxford and Cambridge University Boat Race ...   NaN
7           443        Hiawatha, the Messiah of the Ojibway (1903)   NaN
31         5530                         L'héroïsme de Paddy (1915)   NaN
52         9340                         The Man Who Woke Up (1918)   NaN
82        12844                         White and Unmarried (1921)   NaN
...         ...                                                ...   ...
36210   9448656                                  Plane Tree (2018)   NaN
36281   9620292                       Promising Young Woman (2020)   NaN
36689  10521020              Cubanas. Mujeres En Revolución (2018)   NaN
37110  11771206                                Tawaam Rouhy (2020)   NaN
37339  14735160                             Mum is Pregnant (2021)   NaN

[71 rows x 3 columns]

In [13]:
data_rating = pd.read_csv("B:/_GITHUB/Data-Science-Projects/Movie rating analysis/dataset/ratings.dat", delimiter = "::")
data_rating

c:\Users\arman\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

            1  0114508   8  1381006850
0           2   499549   9  1376753198
1           2  1305591   8  1376742507
2           2  1428538   1  1371307089
3           3    75314   1  1595468524
4           3   102926   9  1590148016
...       ...      ...  ..         ...
906825  70781  9893250  10  1613857551
906826  70781  9898858   3  1585958452
906827  70782   172495  10  1587107015
906828  70782   414387  10  1587107852
906829  70783  1623205   6  1362832655

[906830 rows x 4 columns]